force-app/main/default/flows/Loan_AS_TermAmendmentHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Count_Existing_Admin_Fees</name>
        <label>Count Existing Admin Fees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingAdminFeeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdminFeeCounter_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prime_Admin_Fee_Record_for_Deployment</name>
        <label>Prime Admin Fee Record for Deployment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AdminFeeLoanCharge.Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdminFeeLoanCharge.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DynamicallySetAdminChargeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdminFeeLoanCharge.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdminFeeLoanCharge.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdminFeeLoanCharge.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdminFeeNameStructure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateReleaseChargeDateWithNewDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Conflict_Flag_to_True</name>
        <label>Set Conflict Flag to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConflictingInterestChargeFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InterestChargeDateTracker_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateReleaseChargeDateWithNewDate</name>
        <label>UpdateReleaseChargeDateWithNewDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Query_Release_Charge_Loan_Charge.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedTermDateForReleaseCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Assignments_are_Valid</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Release_Charge_Loan_Charge_Not_Found</name>
        <label>Release Charge Loan Charge Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>An Error was encountered by the &quot;Loan_AS_TermAmendmentHandler&quot; Flow. There was a failure in the system locating a Release Charge Loan Charge. 
If there is no Release Charge, please create one and attempt your change again.</errorMessage>
            <fieldSelection>Term__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Term_Update_Failed</name>
        <label>Term Update Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>An Error was encountered by the &quot;Loan_AS_TermAmendmentHandler&quot; Flow. There was a failure in the saving of the Release Charge Loan Charge&apos;s &quot;Charge Date&quot; Field.
Please contact your Salesforce Admin for further assistance.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Value_Pre_Assignment_Failure</name>
        <label>Value Pre-Assignment Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>An Error was encountered by the &quot;Loan_AS_TermAmendmentHandler&quot; Flow. There was a failure in the process which assigns custom values to the Admin Fee &amp; Release Charge Loan Charge Records.
Please contact your Salesforce Admin for further assistance.</errorMessage>
            <fieldSelection>Term__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Confirm_Assignments_are_Valid</name>
        <label>Confirm Assignments are Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Value_Pre_Assignment_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignments Invalid</defaultConnectorLabel>
        <rules>
            <name>Assignments_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdminFeeLoanCharge.Loan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminFeeLoanCharge.Charge_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminFeeLoanCharge.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdminFeeNameStructure</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminFeeLoanCharge.Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdatedTermDateForReleaseCharge</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorDateofReleaseCharge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Date_to_Release_Charge_Loan_Charge</targetReference>
            </connector>
            <label>Assignments Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Record_Retrieved_Can_Be_Processed</name>
        <label>Confirm Record Retrieved Can Be Processed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Release_Charge_Loan_Charge_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirm_Release_Charge_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Release_Charge_Loan_Charge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Existing_Interest_Charges</targetReference>
            </connector>
            <label>Confirm Release Charge Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Term_Update_has_Applied</name>
        <label>Confirm Term Update has Applied</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Term_Update_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Admin Fee to be Created</defaultConnectorLabel>
        <rules>
            <name>Admin_Fee_to_be_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Release_Charge_Loan_Charge.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdatedTermDateForReleaseCharge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deploy_Admin_Fee_from_Variable</targetReference>
            </connector>
            <label>Admin Fee to be Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interest_Charge_Date_Assessor</name>
        <label>Interest Charge Date Assessor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>InterestChargeDateTracker_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conflict_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConflictingInterestChargeDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Conflict_Flag_to_True</targetReference>
            </connector>
            <label>Conflict Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdminFeeNameStructure</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!ExistingAdminFeeCount}) = &quot;&quot;,
$Record.Name + &quot;&apos;s Term Amendment Admin Fee #1&quot; ,
$Record.Name + &quot;&apos;s Term Amendment Admin Fee #&quot; + TEXT({!ExistingAdminFeeCount} + 1)
)</expression>
    </formulas>
    <formulas>
        <name>ConflictingInterestChargeDate</name>
        <dataType>Boolean</dataType>
        <expression>IF({!InterestChargeDateTracker_Loop.Date__c} = TODAY(),true,false)</expression>
    </formulas>
    <formulas>
        <name>DateNTermFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!PriorDateofReleaseCharge}) + FLOOR((MONTH({!PriorDateofReleaseCharge}) + FLOOR({!$Record.Term__c}) - 1) / 12),
  MOD((MONTH({!PriorDateofReleaseCharge}) + FLOOR({!$Record.Term__c}) - 1), 12) + 1,
  DAY({!PriorDateofReleaseCharge})
)</expression>
    </formulas>
    <formulas>
        <name>DynamicallySetAdminChargeDate</name>
        <dataType>Date</dataType>
        <expression>IF(
{!ConflictingInterestChargeFound}, 
TODAY() - 1,
TODAY()
 )</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>UpdatedTermDateForReleaseCharge</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!OriginalLoanIssueDate}) + FLOOR((MONTH({!OriginalLoanIssueDate}) + FLOOR({!$Record.Term__c}) - 1) / 12),
  MOD((MONTH({!OriginalLoanIssueDate}) + FLOOR({!$Record.Term__c}) - 1), 12) + 1,
  DAY({!OriginalLoanIssueDate})
)</expression>
    </formulas>
    <interviewLabel>Loan_AS_TermAmendmentHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan_AS_TermAmendmentHandler</label>
    <loops>
        <name>AdminFeeCounter_Loop</name>
        <label>AdminFeeCounter Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Query_Existing_Admin_Fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Existing_Admin_Fees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Prime_Admin_Fee_Record_for_Deployment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>InterestChargeDateTracker_Loop</name>
        <label>InterestChargeDateTracker Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Query_Existing_Interest_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interest_Charge_Date_Assessor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AdminFeeCounter_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Deploy_Admin_Fee_from_Variable</name>
        <label>Deploy Admin Fee from Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AdminFeeLoanCharge</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Existing_Admin_Fees</name>
        <label>Query Existing Admin Fees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Record_Retrieved_Can_Be_Processed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Existing_Interest_Charges</name>
        <label>Query Existing Interest Charges</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InterestChargeDateTracker_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interest Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Release_Charge_Loan_Charge</name>
        <label>Query Release Charge Loan Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Existing_Admin_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_new_Date_to_Release_Charge_Loan_Charge</name>
        <label>Assign new Date to Release Charge Loan Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Term_Update_has_Applied</targetReference>
        </connector>
        <inputReference>Query_Release_Charge_Loan_Charge</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Release_Charge_Loan_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>A deployable record variable which is inserted for every Term amendment that takes place on a Loan.</description>
        <name>AdminFeeLoanCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan_Charge__c</objectType>
    </variables>
    <variables>
        <name>ConflictingInterestChargeFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistingAdminFeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OriginalLoanIssueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record__Prior.Date_Loan_Issued__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PriorDateofReleaseCharge</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
